<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.customerreminder">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/ic_dialog_info"
        android:label="Customer Reminder"
        android:roundIcon="@android:drawable/ic_dialog_info"
        android:supportsRtl="true"
        android:theme="@style/Theme.CustomerReminder">
        <activity android:name=".RemindersActivity" />
        <activity android:name=".CustomersActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".receiver.ReminderReceiver" />
    </application>
</manifest>
